body {
    font-family: helvetica, arial, sans-serif;
    background-color: #2D2D2D;
    color: white;
    font-size: 0.8em;
}

#content {
    display: flex;
    flex-direction: column;
}

#explanation {
    padding: 0;
    margin-top: 1em;
}

#simulation {
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 0.9em;
}

#graph-group {
    position:relative;
}

#graph {
    position:absolute;
    top:99px;
    left:156px;
}

#params {
    margin-top: 1em;
    line-height: 2;
}

#params > label {
    position: relative;
    bottom: 0.3em;
}

#random-seed + label,
#randomize-seed + label {
    bottom: 0.05em;
}
#randomize-seed {
    position:relative;
    bottom: -0.1em;
}

.nagents-text,
.ninteractions-text,
.fraction-text {
    color: yellow;
}

#random-seed {
    width:9.35em;
}

#bgnd {
    width:1146px;
    height:577px;
    border:0;
}